.btn {
    background-color: gray;
    padding: 14px 40px;
    border-radius: 2px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    opacity: 0.85;
    transition: opacity .1s linear;
}

.btn:hover {
    opacity: 1;
}

.btn:active {
    background-color: rgb(146, 146, 146);
}

.text__input {
    color: white;
    width: 50%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: rgb(41, 41, 41);
    font-size: 16px;
    resize: none;
}


.text__input_error{
    color: white;
    width: 50%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
    background-color: rgb(41, 41, 41);
    font-size: 16px;
    resize: none;
}


.just_posts {
    margin: 0 28px;
}

