body {
  background-color: #131313;
  color: #fff;
}



.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}



.app-wrapper {
  display: grid;

  grid-template-areas: 
  "h h"
  "n c";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 1fr 10fr;
}

/*Header==============================================*/

.header {
  grid-area: h;
}

.header_img {
  width: 50px;
  margin: 5px 0 0 0;
}



.login {
  color: #fff;
  background-color: #5E5DF0;
  color: white;
  padding: 7px 18px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 30px;
  margin: 0px 5px 0 0;
  text-align: center;
}

.login:hover {
  opacity: 1;
  background-color: #5353e4;
  cursor: pointer;
}

.fast_link_friends {
  margin: 0 10px;
}



/*Content=========================================*/

.content {
  grid-area: c;
  margin: 30px 20px;
}


/*Nav============================================*/


.nav {
  grid-area: n;
  margin: 20px 0 0 0;
}

.nav__link {
  text-decoration: none;
  color: #fff;
}


