.prof__info {
    margin: 30px;
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.prof__img {
    height: 200px;
    width: 1000px;
}

.about__data {
    margin: 5px 0 5px 5px;
}

.status__input {
    color: white;
    width: 90%;
    height: 50px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: rgb(41, 41, 41);
    font-size: 16px;
    resize: none;
}

